streamlit>=1.24,<1.25
torch==1.10.0
numpy>=1.23,<1.24
pandas>=1.5,<1.6
Pillow>=9.3,<9.4
pdfplumber>=0.9,<0.10
pytesseract>=0.3,<0.4
matplotlib>=3.7,<3.8
altair>=5.0,<5.1
plotly>=5.13,<5.14
scikit-learn>=1.2,<1.3
